<ion-header>
	<ion-navbar>
		<ion-title>
			Ionic Blank
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="tutorial-page">
<div style="height: 165px">
	<ion-slides pager>
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/titles.jpg" class="slide-image"/>
    </ion-slide>
  </ion-slides>
</div>

<!-- 
<img id="login_picture" class="hotpost" src={{loginImg}} width="50" style="margin-top:3rem; border-radius: 25px;"
                    height="50" alt="" (click)="_enterInfo()" --> 

<div  style='width: 100%;display: inline-flex;'>
	<div class="Grid_3" style="padding: 0 0;margin-left: 1.5rem;" *ngFor="let _img of _imgs">
		<ion-card>
		  <img class="img_RSD" id="img_rsdClick" src="{{_img}} " tappable (click)="rsdClick()"/>
		</ion-card>
	</div>
</div>

<div style="display: inline-flex;">
	<div  style='width: 50%'>
		<ion-card>
		  <img src="assets/img/advance-card-alaska.jpg" tappable (click)="firstClick()"/>
		  <ion-card-content>
		    <!-- <ion-card-title>
		      Nine Inch Nails Live
		      </ion-card-title> -->
		    <p style="padding:0 0">
		      第1章内容详情
		    </p>
		  </ion-card-content>
		</ion-card>
	</div>
	<div  style='width: 50%'>
		<ion-card>
		  <img src="assets/img/advance-card-alaska.jpg" tappable (click)="firstClick()"/>
		  <ion-card-content>
		    <!-- <ion-card-title>
		      Nine Inch Nails Live
		      </ion-card-title> -->
		    <p style="padding:0 0">
		      第2章内容详情
		    </p>
		  </ion-card-content>
		</ion-card>

	</div>
</div>






<!-- 
<ion-item>
	<ion-item class="Grid_2">
		<a href="" routerLink="/discoverydetail">
			<img class="img_article" src="assets/img/advance-card-alaska.jpg">
		</a>
		<ion-item style="font-size: 14px">
			第一章内容详情
		</ion-item>
	</ion-item>
	<ion-item class="Grid_2">
		<a href="" routerLink="/discoverydetail">
			<img class="img_article" src="assets/img/advance-card-alaska.jpg">
		</a>
		<ion-item style="font-size: 14px">
			第一章内容详情
		</ion-item>
	</ion-item>

</ion-item>
 -->

<!-- div style="display: inline-flex;">
	
	<div class="Grid_2 not_first_row">
				<a href="" routerLink="/discoverydetail">
					<div>
						<img class="img_article lazy" src="assets/img/advance-card-alaska.jpg">
						<div>
							<span></span> 
							第一章内容详情
						</div>
					</div>
				</a>
			</div>
			<div class="Grid_2 not_first_row">
				<a href="" routerLink="/discoverydetail">
					<div>
						<img class="img_article lazy" src="assets/img/advance-card-jp.jpg">
						<div>
							<span></span> 
							第一章内容详情
						</div>
					</div>
				</a>
			</div>
</div> -->
<!-- <div style="height: 60px">
	<div class="Grid_3" style="padding: 10px 10px">
    	<a href="" routerLink="/bestList">
     		 <img class="img_RSD" src="assets/img/icon_ru@3x.png"/>
        </a>
   </div>

	<div class="Grid_3" style="padding: 10px 10px">
    	<a href="" routerLink="/bestList">
     		 <img class="img_RSD" src="assets/img/icon_shi@3x.png"/>
        </a>
   </div>

   <div class="Grid_3" style="padding: 10px 10px">
				
		<a routerLink="/bestList">
			<img class="img_RSD" id="sixiang_img" src ="assets/img/icon_dao@3x.png"/>
		</a>
	</div>
</div> -->

    

	<!--<div class="mui-content" style="background:#fff">
		<div class="mui-slider-item">
			<img class="img_recommend" src="./app/source/img/titles.jpg" style="width: 100%">
		</div>

		<div id="channels" class="channel fix tc" style="font-family: '方正清刻本悦宋简体'">

			<div class="Grid_3" style="padding: 10px 0" *ngFor="let _img of _imgs">
				<a class="ec-img-item" routerLink="/bestList">
					<img class="img_channel" id="zhibo_img" src="{{_img}}" />

				</a>
			</div>

		</div>
		<div class="Line"></div>
		<div id="sbj_title" style="padding: 10px; font-family: '方正清刻本悦宋简体'">
			<span style="width:.3rem;height:2.5rem; background:#ff9100;float:left"></span>
			<label style="line-height: 2.5rem; font-size: 1.4rem; margin-left: 1rem;">博学精选</label>

		</div>
		<div class="Line"></div>

		<div id="grid" class="fix tc" style="font-family: '方正清刻本悦宋简体'; text-align: left; overflow-y: auto;">



			<div class="Grid_2 not_first_row">
				<a href="" routerLink="/discoverydetail">
					<div class="boxue db pct100 nowrap">
						<img class="img_article lazy" src="./app/source/img/1_02.png">
						<div class=" ell pct100">
							<span class="icon-books icon-junior"></span> 第一章内容详情
						</div>
					</div>
				</a>
			</div>



			<div class="Grid_2 not_first_row">
				<div class="boxue db pct100 nowrap">
					<img src="./app/source/img/1_02.png" class="img_article" />
					<div class=" ell pct100">
						<span class="icon-books icon-junior"></span> 第二章内容详情
					</div>
				</div>
			</div>
			<div class="Grid_2 not_first_row">
				<div class="boxue db pct100 nowrap">
					<img class="img_article lazy" src="./app/source/img/1_02.png" />
					<div class=" ell pct100">
						<span class="icon-books icon-junior"></span> 第三章内容详情
					</div>
				</div>
			</div>
			<div class="Grid_2 not_first_row">
				<div class="boxue db pct100 nowrap">
					<img class="img_article lazy" src="./app/source/img/1_02.png" />
					<div class=" ell pct100">
						<span class="icon-books icon-junior"></span> 第四章内容详情
					</div>
				</div>
			</div>
		</div>-->

</ion-content>