<zut-head></zut-head>
<div class="mui-content">
        <style>
            .login_bn_info{ position: absolute; left: 0; bottom:25px; font-family: 'zut'; font-size: 1.2rem; width: 100%; color: #fff; text-align: center;}
            @media screen and (max-width:375px){#login_bn_info{bottom:15px;}}
            .login_btn{ border: 1px solid #fff;  height: 2.4rem; line-height: 2.4rem; font-size: 1.2rem; width: 105px; display: inline-block; margin-top:-5px; overflow: hidden; border-radius: 4px;}
            .login_txt{display: inline-block;}
            .List_area:after{
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                height: 1px;
                content: '';
                -webkit-transform: scaleY(.5);
                transform: scaleY(.5);
                background-color: #c8c7cc;
            }
            .List_area:before{
                position: absolute;
                right: 0;
                top: 0;
                left: 0;
                height: 1px;
                content: '';
                -webkit-transform: scaleY(.5);
                transform: scaleY(.5);
                background-color: #c8c7cc;
            }       
        </style>
            <div class="login_banner" style="background: url(./app/source/img/titles.jpg); background-size:100% 100%; position: relative; height: 150px">
                <div class="tc">
                    <img id="login_picture" class="hotpost" src="./app/source/img/logo.png" width="50" style="margin-top:3rem; border-radius: 25px;" height="50" alt="" (click)="_enterInfo()" />
                </div>
                <div id="login_bn_info" class="login_bn_info">
                <span *ngIf="loginStatus" class="login_txt" (click)="_enterInfo()"> 您好，{{loginAccount}}<br/>三人行,必有我师'</span>
                <span *ngIf="!loginStatus" class="login_btn" (click)="_enterLogin(0)">登陆/注册</span>

                </div>
            </div>  
            <div class="List_area">
                <div class="fix List_box" id="my_balance" (click)="_enterLogin(1)">
                    <div class="List_l">
                        <span class="u2 u211"></span>
                    </div>
                    <div class='List_r'>
                        <div class="List_title">
                            我的账户
                        </div>
                        <div class="Line" ></div>
                    </div>
                </div>
                <div class="fix List_box" id="my_courses" (click)="_enterLogin(2)">
                    <div class="List_l">
                        <span class="u2 u221"></span>
                    </div>
                    <div class='List_r'>
                        <div class="List_title">
                            我的课程
                        </div>
                    </div>
                </div>
            </div>
            <div class="List_area mt10">
                <div class="fix List_box" id="setting" (click)="_enterLogin(3)">
                    <div class="List_l">
                        <span class="u2 u231"></span>
                    </div>
                    <div class='List_r'>
                        <div class="List_title">
                            设置
                        </div>
                        <div class="Line" ></div>
                    </div>
                </div>
                <div class="fix List_box" id="about" (click)="_enterLogin(4)">
                    <div class="List_l">
                        <span class="u2 u241"></span>
                    </div>
                    <div class='List_r'>
                        <div class="List_title">
                            关于
                        </div>
                    </div>
                </div>
            </div>
    </div>
<zut-foot></zut-foot>