page-home{
    .clear-box{
        box-shadow:none;
    }

    .image-height{
        height: 170px;
    }

    .clean-padding{
        padding: 0;
        margin: 0;
    }

    .badge-ios {
        border-radius: 10px;
        color: #fff;
        background-color: #ff9100;
    }

    .title-size {
        font-size: 1em;
        padding: 0;
    }

    .box-line {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
}

