*{margin:0;padding:0;}
li{list-style:none;}
.m-slider{margin-top: 47%;  perspective: 200px; position: absolute; left: 0; top: 0;  z-index: 100; overflow: hidden;}
.m-slider .cnt{position:relative;width:3000px; height: 100%; transform-style: preserve-3d;transition: transform .8s; }
/*.m-slider .animate{transition: transform .8s;}  */
.m-slider .cnt li{float:left; width:240px;  margin-right: 40px;  height: 100%; text-align: center; transition: transform .8s, opacity 1s;} 
.m-slider .cnt .offright{transform: translate3d(40px,0,-80px); opacity: .6;}
.m-slider .cnt .offleft{transform: translate3d(-40px,0,-80px); opacity: .6;} 
.m-slider .cnt img{ height: 100%; width: 100%;}
.m-slider .cnt p{margin:20px 0;} 
.icons{text-align:center;color:#000; margin-bottom: 10px; width: 100%; z-index: 10; bottom: 14%; left: 0;}       
.icons span{margin:0 2px;} 
.icons .curr .circle{background:#002147;}
.f-anim{-webkit-transform:left .5s linear;}  
img{ border-radius:10px}
body{ height: 100%; overflow: hidden;}
 #index-0,#index-1,#index-2,#index-3,#index-4,#index-5{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    transition: opacity 1s;
 }
 #index-0{ background-image: url(../app/source/img/guide/01.jpg); z-index: 5;}
 #index-1{ background-image: url(../app/source/img/guide/02.jpg); z-index: 4;}
 #index-2{ background-image: url(../app/source/img/guide/03.jpg); z-index: 3;}
 #index-3{ background-image: url(../app/source/img/guide/04.jpg); z-index: 2;}
 #index-4{ background-image: url(../app/source/img/guide/05.jpg); z-index: 1;}
 #index-5{ background-image: url(../app/source/img/guide/06.jpg); z-index: 0;}
 .kyAbs{ position: absolute; bottom: 4%; left: 0;  text-align: center; z-index: 11; width: 100%;}
 .kyBtn{background: #002147; color: #fff; border-radius: 5px; display: inline-block; width: 65%; line-height: 2.5rem; font-size: 16px; letter-spacing: 3px;}
 .circle{ width: 8px; height: 8px; border-radius: 4px; overflow: hidden; background: #fff; display: inline-block;}
 .absText{ width: 100%; margin-top: 3%; position: absolute; left: 0; top: 0; text-align: center; z-index: 20;}    
 #absText{ transition: all .8s; width: 75%; display: inline-block; background-image:url(img/guide/btn-0_03.png);height: 100px;background-size: 100% 100%;}