<div id="index-0" class="transbg"></div>
<div id="index-1" class="transbg"></div>
<div id="index-2" class="transbg"></div>
<div id="index-3" class="transbg"></div>
<div id="index-4" class="transbg"></div>
<div id="index-5" class="transbg"></div>
<div class="m-slider">
    <ul class="cnt animate" id="slider">  
        <li class="on" data-bg="#f2676e">
            <img src="../app/source/img/guide/btn-1_07.jpg">
        </li>
        <li class="offright" data-bg="#9267f2">
            <img src="../app/source/img/guide/btn-2_07.jpg">
        </li>
        <li class="offright" data-bg="#67c9f2">
            <img src="../app/source/img/guide/btn-3_07.jpg"> 
        </li>
        <li class="offright" data-bg="#67f27e">
            <img src="../app/source/img/guide/btn-4_07.jpg">
        </li>
        <li class="offright" data-bg="#f2cd67">
            <img src="../app/source/img/guide/btn-5_06.jpg">
        </li>
        <li class="offright" data-bg="#f2cd67">
            <img src="../app/source/img/guide/bn-6_06.jpg">
        </li>
    </ul>
</div>
<div class="absText">
    <span id="absText"></span>
</div>
<div  class="kyAbs">
    <div class="icons" id="icons">
        <span class="curr">
                <span class="circle"></span>
        </span>
        <span>
                <span class="circle"></span>
        </span>
        <span>
                <span class="circle"></span>
        </span>
        <span>
                <span class="circle"></span>
        </span>
        <span>
                <span class="circle"></span>
        </span>
        <span>
                <span class="circle"></span>
        </span>
    </div>
    <span class="kyBtn" id="kyBtn" (click)="goAdv()">进入孔裔国际公学</span>
</div>
